body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #333;
}

header {
    background: #111;
    color: white;
    padding: 40px;
    text-align: center;
}

header a {
    color: #00adb5;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 30px;
    max-width: 800px;
    margin: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}
